{{> welcome-menu active="login"}}

<section class="section">
    <div class="columns">
        <div class="column">
            <h1 class="title">Log in</h1>
            <form action="/authenticate" method="POST">
                <div class="field">
                    <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email"
                                                              name="email">
                </div>
                <div class="field">
                    <label class="label">Password</label> <input class="input" type="password"
                                                                 placeholder="Enter Password" name="password">
                </div>
                <div class="field is-grouped">
                    <button class="button is-link">Submit</button>
                </div>
            </form>
        </div>
        <div class="column">
            <div class="column">
                <img src="/images/logo_2.jpg" alt="Geo Tag Logo 2" style="width:800px;height:600px;">
                <a href="https://www.freepik.com/free-vector/people-holding-travel-related-icons_3226129.htm#query=geotag&position=7&from_view=keyword">Image by rawpixel.com</a> on Freepik
            </div>
        </div>

    </div>
</section>
