{{> welcome-menu}}

<section class="section">
  <p> Hi Welcome to Geo Tag the way point logging site, Sign up or Log in... </p>
  <div class="columns">
    <div class="column">
        <img src="/images/logo_1.jpg" alt="Geo Tag Logo 1" style="width:800px;height:600px;">
        <a href="https://www.freepik.com/free-vector/people-holding-travel-related-icons_3226129.htm#query=geotag&position=7&from_view=keyword">Image by rawpixel.com</a> on Freepik
    </div>
    <div class="column">
        <img src="/images/logo_2.jpg" alt="Geo Tag Logo 2" style="width:800px;height:600px;">
        <a href="https://www.freepik.com/free-vector/people-holding-travel-related-icons_3226129.htm#query=geotag&position=7&from_view=keyword">Image by rawpixel.com</a> on Freepik
    </div>
  </div>
</section>
